@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir";
  src: url(../src/assets/Agrandir/Agrandir-Regular.otf);
}

@layer utilities {
  .grid-cols-autofit {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}
